<?xml version="1.0"?>
<config>
    <default>
        <carriers>
            <purolatormodule>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <markupval>0</markupval>
                <handling>0</handling>
                <model>Collinsharper_Purolator_Model_Carrier_Shippingmethod</model>
                <name>Purolator</name>
                <title>Purolator</title>
                <specificerrmsg>
                    This shipping method is currently unavailable.
                    If you would like to ship using this shipping
                    method, please contact us.
                </specificerrmsg>
                <showmethod>1</showmethod>
                <handling_type>F</handling_type>
                <packingration>67</packingration>
                <height>10</height>
                <width>10</width>
                <length>10</length>
                <ratio>67</ratio>
                <boxsize>50*50*50</boxsize>
                <paytype>Sender</paytype>
                <decval>0</decval>
                <intsig>1</intsig>
            </purolatormodule>
        </carriers>
    </default>
    <modules>
        <Collinsharper_Purolator>
            <version>0.8.1</version>
        </Collinsharper_Purolator>
    </modules>
    <global>
        <models>
            <purolatormodule>
                <class>Collinsharper_Purolator_Model</class>
                <resourceModel>purolator_entity</resourceModel>
            </purolatormodule>
            <purolator_entity>
                <class>Collinsharper_Purolator_Model_Mysql4</class>
                <entities>
                    <manifestshipment>
                        <table>ch_purolator_manifest_shipment</table>
                    </manifestshipment>
                    <purolatormanifest>
                        <table>ch_purolator_manifest</table>
                    </purolatormanifest>
                    <shipment>
                        <table>ch_purolator_shipment</table>
                    </shipment>
                    <cache>
                        <table>chpurolatormodule_cache</table>
                    </cache>
                </entities>
            </purolator_entity>
        </models>
        <blocks>
            <purolator>
                <class>Collinsharper_Purolator_Block</class>
            </purolator>
            <checkout>
                <rewrite>
                    <cart_shipping>Collinsharper_Purolator_Block_Checkout_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <purolatormodule>
                <class>Collinsharper_Purolator_Helper</class>
            </purolatormodule>
        </helpers>
        <resources>
            <purolatormodule_setup>
                <setup>
                    <module>Collinsharper_Purolator</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </purolatormodule_setup>
        </resources>
        <events>
            <prepare_grid_collection_shipment>
                <observers>
                    <purolatormodule>
                        <type>singleton</type>
                        <class>purolatormodule/observer</class>
                        <method>prepareShipmentGrid</method>
                    </purolatormodule>
                </observers>
            </prepare_grid_collection_shipment>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <purolator before="Mage_Adminhtml">Collinsharper_Purolator_Adminhtml</purolator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <module before="Mage_Checkout">Collinsharper_Purolator</module>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Collinsharper_Purolator>
                    <files>
                        <default>Collinsharper_Purolator.csv</default>
                    </files>
                </Collinsharper_Purolator>
            </modules>
        </translate>
        <layout>
            <updates>
                <purolatormodule>
                    <file>purolator.xml</file>
                </purolatormodule>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_carriers>
                <observers>
                    <blacklist_customer>
                        <class>Collinsharper_Purolator_Model_Observer</class>
                        <method>clearCache</method>
                    </blacklist_customer>
                </observers>
            </admin_system_config_changed_section_carriers>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <carriers>
                                            <children>
                                                <purolatormodule>
                                                    <title>Purolator Settings</title>
                                                </purolatormodule>
                                            </children>
                                        </carriers>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <sales>
                            <children>
                                <puro_purolatormanifest>
                                    <title>Purolator Manifests</title>
                                </puro_purolatormanifest>
                            </children>
                            <children>
                                <puro_purolatorshipment>
                                    <title>Purolator Shipments</title>
                                </puro_purolatorshipment>
                            </children>
                        </sales>
                        <report>
                            <children>
                                <salesroot>
                                    <children>
                                        <adv_shipping>
                                            <title>Advanced Shipping</title>
                                        </adv_shipping>
                                    </children>
                                </salesroot>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
